@import "tailwindcss";

:root {
    --background: #0b0f1a;
    --foreground: #ffffff;

    /* Font hasil from next/font/google */
    --font-header: "Poppins";
    --font-body: "Roboto Mono";
}

html {
    scroll-behavior: smooth;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    /* Override Tailwind */
    --font-sans: var(--font-header);
    --font-mono: var(--font-body);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-body); /* paragraf & div default */
    height: 100%;
    margin: 0;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-header); /* header = Poppins */
}
